body {
  background-color: #FBFBFB;
  font-family: 'Open Sans';
  line-height: 1.7em;
  font-size: 16px;

  height: auto !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans';
}

.alertify-notifier {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.fullwidth {
  width: 100%;
}
